<h1>Seja Bem vindo!</h1>
<span><strong>Data: <%= data_br(Date.today) %></span></strong>
<h3><%= name_application%></h3>

<ul>
    <li>
        <%= link_to "Cadastro de moeda", coins_path %>
    </li>
</ul>